<div class="container">
    <h1>Acerca de Heros</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eligendi explicabo maiores commodi quisquam! Veritatis numquam tempora molestias mollitia, cumque architecto aspernatur eligendi rerum, exercitationem est nisi autem ullam labore!
    Porro inventore unde velit odit ipsam aut dolore fugit dolorem accusamus voluptas exercitationem quod magni impedit ab dolorum eveniet veniam culpa recusandae neque, voluptatem hic ex. Rem modi commodi vitae.
    Similique cum ducimus ut, magnam vitae consequatur necessitatibus iure, esse incidunt accusantium quasi rem voluptate labore? Nemo blanditiis suscipit ipsam, vitae at cumque, impedit eligendi ab maiores, ad magnam quia.
    Et, tempore nihil! Suscipit ad voluptatum et incidunt nihil velit. Optio dolorem illum qui veniam. Voluptatum obcaecati nam velit officia, tenetur quis, quod quia commodi dolor dolore sint aut similique?
    Expedita voluptatum amet fuga quos a quam minus nihil dolore possimus dicta illo aut, iusto voluptatibus, necessitatibus blanditiis odio, quaerat ipsa et tempore quidem assumenda quo dolores distinctio vitae? Provident.</p>
</div>